
.center {
    position: absolute;
    top: 250px;
    left:50%;    
    
}
.top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute; 
    left: 80%;
  }
 .nav {
      float: left;
  }

  a {
    display: block;
    padding: 8px;
    text-decoration:none
    /* background-color: #dddddd; */
  }
  a:hover{
    text-decoration:underline;
  }
  GoogleAuthenticated {
      border-radius: 50%;
  }
  .bottomLeft{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 10px; 
  }
  .footerItemLeft{
      float:left;
  }
  .bottomRight{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 10px;
    left: 80%; 
  }
  footerItemRight{
      float: right;
  }